include AUTHORS.rst
include README.rst
recursive-include requirements *.txt
recursive-include TicketHelpdesk *.html *.png *.gif *js *.css *jpg *jpeg *svg *py *.mo *.po
recursive-include TicketHelpdesk/static *
recursive-include TicketHelpdesk/templates *
